.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    // background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    box-shadow: 21px 21px 67px 0px rgba(199, 197, 197, 0.25);
    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: gray;
        }
        .counter{
            font-size: 28px;
            font-weight: 300;
        }
        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }
        .percentage{
            display: flex;
            align-items: center;
            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
        .icon{
            font-size: 18px;
            padding: 5px;
            // background-color: rgb(128,0,128,0.541);
            border-radius: 5px;
            align-self: flex-end;
        }
    }
   

}